* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin-top: 25px;
}
.pics {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-top: 15px;
}
  
.text {
  display: inline-block;
  vertical-align: top;
  width: 800px; 
}
.video-container {
  text-align: center;
  margin: 32px;
}
  
body {
  font-family: Arial;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}
  
main {
  max-width: 1200px;
  margin: 32px auto;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
}
  
header {
  background-color: #2c3e50;
  color: white;
  padding: 30px;
  text-align: center;
}
  
  
  
header h1 {
  font-size: 40px;
  margin: 8px;
}
  
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #34495e;
  border-radius: 15px;
  padding-bottom: 13px;
  font-size: 20px;
}
  
  
  
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 8px;
  display: block;
}
  
nav ul li a:hover {
  background-color: #4373d3;
  border-radius: 4px;
}
  
article {
  margin-bottom: 32px;
}
  
h2 {
  font-size: 24px;
  margin-bottom: 8px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 4px;
}
  
.header-img {
  width: 100%;
  height: 200px;;
  display: block;
  opacity: 0.5; 
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
  
  
  
figure {
  text-align: center;
}
  
figcaption {
  font-style: italic;
  font-size: 14px;
  margin-top: 8px;
}
  
footer {
  background-color: #ccc;
  text-align: center;
  padding: 16px 0;
  margin-top: 32px;
  font-size: 14px;
    
}

  
ul {
  padding-left: 33px;
  padding-top: 15px;
}
  
  
a {
  color: #106caa;
}
  
a:hover {
  text-decoration: underline;
}
  
  
  
  